@import './reset.scss';

$text-color: red;
.header {
  text-align: center;
}

.blog-post,
h2 {
  color: $text-color;
}

.blog-post {
  h1 {
    text-align: center;
    color: blue;
  }
  p {
    font-size: 20px;
  }
}

@mixin radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

#awesome {
  width: 150px;
  height: 150px;
  background-color: green;
  @include radius(15px);
}

@mixin border-stroke($val) {
  @if $val == light {
    border: 1px solid black;
  } @else if $val == medium {
    border: 3px solid black;
  } @else if $val == heavy {
    border: 6px solid black;
  } @else {
    border: none;
  }
}

#box {
  width: 150px;
  height: 150px;
  background-color: red;
  @include border-stroke(medium);
}

// 12 col grid

$colors: (
  color1: blue,
  color2: black,
  color3: red,
);

@each $key, $color in $colors {
  .#{$color}-bg {
    background-color: $color;
  }
}

$x: 1;
@while $x < 11 {
  .text-#{$x} {
    font-size: 15px * $x;
  }
  $x: $x + 1;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: 100% / 12 * $i;
    padding: 10px;
  }
}

@for $j from 1 through 6 {
  .text-#{$j} {
    font-size: 15px * $j;
  }
}

.flex {
  display: flex;
}

div {
  height: 200px;
  width: 200px;
}

h3 {
  text-align: center;
}
.info {
  width: 200px;
  border: 1px solid black;
  margin: 0 auto;
}

.info-important {
  @extend .info;
  background-color: coral;
}
